<div class="col animate__animated animate__fadeIn">
  <div class="card shadow p-3 mb-5 bg-white rounded" style="width: auto;">
    <div class="card-header" style="text-align: center;">
      <h1>
        <strong>Proveedor</strong>
        <button
          mat-fab
          matTooltip="Agregar un Proveedor"
          color="primary"
          class="agregar"
          (click)="addProvedor()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </h1>
      <div class="col"></div>
    </div>
    <div class="card-body">
      <!--Aquí va el alert-->
      <div
        *ngIf="provedores.length == 0"
        class="alert alert-warning"
        style="text-align: center;"
        role="alert"
      >
        <span>
          No existen Proveedores creados
        </span>
      </div>
      <table class="table">
        <thead
          *ngIf="provedores.length != 0"
          class="thead-dark"
          style="text-align: center;"
        >
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Descripción</th>
            <th scope="col">Estado</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody style="text-align: center;">
          <tr *ngFor="let item of provedores">
            <th>{{ item.idProveedor }}</th>
            <td>{{ item.descripcion }}</td>
            <td>
              <span *ngIf="item.Estado === true" class="badge badge-primary"
                >Activo</span
              >
              <span *ngIf="item.Estado === false" class="badge badge-dark"
                >Inactivo</span
              >
            </td>
            <td>
              <button mat-icon-button matTooltip="Editar Proveedor">
                <mat-icon class="amarillo" (click)="editProvedor(item)"
                  >edit</mat-icon
                >
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
