<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" [routerLink]="['main']" routerLinkActive="active" >
    ViatiTEC
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['verEvento']">Eventos</a>
      </li>
      
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['cliente']">Clientes</a>
      </li>


      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['sucursal']">Sucursales</a>
      </li>

      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['centroCosto']">Centro Costos</a>
      </li>

      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['proveedor']">Proveedores</a>
      </li>

      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['recurso']">Recursos</a>
      </li>

      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['motivo']">Motivos</a>
      </li>


    </ul>
  </div>
</nav>