<div class="container mt-5">
    <h1 style="text-align: center;"><strong>ViatiTEC</strong></h1>
    <h2 style="text-align: center;"><span></span></h2>
    <hr>
      <div class="col">
          <div class="row">

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="https://scontent.fsyq1-1.fna.fbcdn.net/v/t1.0-9/48092369_10205269378290577_8950864307613073408_n.jpg?_nc_cat=102&_nc_sid=09cbfe&_nc_ohc=VnVmkB-O03IAX-LvFQM&_nc_oc=AQnK9sg0dzzQUGgfQD7Cn3wzDSRRJIXKqv2o8Mpgr2BWcGW6CYEwkbXXsLD2koq6mbA&_nc_ht=scontent.fsyq1-1.fna&oh=bf9b21eb7a4bc06508702f3bd5d466d8&oe=5F4AD8FD" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h3 class="card-title"style="text-align: center;"><strong>Jose Ignacio Alfaro Solano</strong></h3>
                      <p class="card-text" style="text-align: center;">Desarrollador</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../../../assets/img/WhatsApp Image 2020-08-01 at 2.32.50 AM.jpeg" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title"style="text-align: center;"><strong>Warner Hurtado Laguna </strong></h3>
                      <p class="card-text" style="text-align: center;">Desarrollador</p>
                    </div>
                  </div>
                </div>
              </div>

              
</div>
